<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout2)">
            <p>Sorry, there's nothing at this address. Why are you here! Who told you about this web site?</p>
        </LayoutView>
    </NotFound>
</Router>
